<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.paper.mapper.CommentMapper">

    <insert id="insertComment" parameterType="Comment" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_comment(time,content,teacher_id,paper_id,student_id)
        values (#{time},#{content},#{teacher_id},#{paper_id},#{student_id})
    </insert>

    <delete id="deleteComment" parameterType="Comment">
        delete from t_comment where id = #{id}
    </delete>

    <update id="updateComment" parameterType="Comment">
        update  t_comment set
                              time = #{time},
                              content = #{content},
                              teacher_id = #{teacher_id},
                              paper_id = #{paper_id},
                              student_id = #{student_id}
        where id = #{id}
    </update>

    <update id="updateNotNull" parameterType="Comment">
        update  t_comment
        <set>
            <if test="time != null">time = #{time},</if>
            <if test="content != null">content = #{content},</if>
            <if test="teacher_id != null">teacher_id = #{teacher_id},</if>
            <if test="paper_id != null">paper_id = #{paper_id},</if>
            <if test="student_id != null">student_id = #{student_id}</if>
        </set>
        where id = #{id}
    </update>

    <resultMap id="CommentMap" type="Comment">
        <result property="id" column="id"/>
        <result property="time" column="time"/>
        <result property="content" column="content"/>
        <result property="teacher_id" column="teacher_id"/>
        <result property="paper_id" column="paper_id"/>
        <result property="student_id" column="student_id"/>
    </resultMap>

    <select id="selectById" resultMap="CommentMap">
        SELECT * FROM t_comment where id = #{id}
    </select>

    <select id="selectWhere" resultMap="CommentMap">
        SELECT * FROM t_comment
        <where>
            <if test="thesis_id != null"> thesis_id = #{thesis_id} </if>
            <if test="author_name != null"> and author_name like #{author_id} </if>
            <if test="version != null"> and version = #{version} </if>
        </where>
        order by id desc
    </select>

    <select id="selectAll" resultMap="CommentMap">
        SELECT * FROM t_comment order by id desc
    </select>
</mapper>