<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.paper.mapper.DepartmentMapper">

    <insert id="insertDepartment" parameterType="Department" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_department(name,college_id,college_name)
        values (#{name},#{college_id},#{college_name})
    </insert>

    <delete id="deleteDepartment" parameterType="Department">
        delete from t_department where id = #{id}
    </delete>

    <update id="updateDepartment" parameterType="Department">
        update  t_department set
           name = #{name},
           college_id = #{college_id},
           college_name = #{college_name}
        where id = #{id}
    </update>

    <update id="updateNotNull" parameterType="Department">
        update t_department
        <set >
            <if test="name != null">name = #{name},</if>
            <if test="college_id != direction">college_id = #{college_id},</if>
            <if test="college_name != null">college_name = #{college_name},</if>
        </set>
        where id = #{id}
    </update>

    <resultMap id="DepartmentMap" type="Department">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="college_name" column="college_name"/>
    </resultMap>

    <select id="selectById" resultMap="DepartmentMap">
        SELECT * FROM t_department where id = #{id}
    </select>

    <select id="selectWhere" resultMap="DepartmentMap">
        SELECT * FROM t_department
        <where>
            <if test="name != null">name like #{name}</if>
            <if test="college_id != null">and college_id = #{college_id}</if>
            <if test="college_name != null">and college_name like #{college_name}</if>
        </where>
        order by id desc
    </select>
    <select id="selectAll" resultMap="DepartmentMap">
        SELECT * FROM t_department order by id desc
    </select>
</mapper>